/* default .splash-screen styles, .loading should be invisible, opacity: 0, z-index: -1 */
.splash-screen {
  opacity: 0;
  transition: opacity .4s ease-in-out, z-index .4s;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #3C4252;
  z-index: -1;
}

/* .splash-screen screen is visible when app is not bootstraped yet, .frigg-app is empty */
frigg-app:empty + .splash-screen {
  transition: opacity .4s ease-in-out, z-index .4s;
  opacity: 1;
  z-index: 100;
}

.splash-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  width: 200px;
}

.spinner {
  width: 60px;
  height: 60px;

  position: relative;
  margin: 20px auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: ghostwhite;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% {
    -webkit-transform: scale(0.0)
  }
  50% {
    -webkit-transform: scale(1.0)
  }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  }
  50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
